---
layout: index
title: ABOUT
permalink: /about/
---
		<div class="container-fluid" id="home">
			<div class="row">
				<div class="bg-about">
					<div class="cover-text-bg">
						<div class='cover-text'></div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-3 side-menu'>
					{%- comment -%}
<!--				<div class='menu-title'>About Us</div>
				<div class='menu-list'>
					<ul>
						<li>Our Story</li>
						<li>Confession of Faith</li>
						<li>Relational Values</li>
						<li>Community Mission</li>
					</ul>
				</div>-->
					{%- endcomment -%}
				</div>
				<div class='col-md-9 big-info-block'>
					<div class='section-title'>Our Story</div>
					<div class='section-text-block'>
						{%- comment -%}
						{%- endcomment -%}
						{% for paragraph in site.data.about.our_story %}
						<p>{% for sentence in paragraph %}
							{{ sentence }}{% endfor %}
						</p>{% comment %}
							{% endcomment %}{% if forloop.last %}{% comment %}
								{% endcomment %}
					{% comment %}
							{% endcomment %}{% else %}{% comment %}
								{% endcomment %}
{% comment %}
					{% endcomment %}{{ "" }}{% endif %}{% endfor %}</div>

					<div class='section-title'>Confession of Faith</div>
					<div class='section-text-block'>{% for confession in site.data.about.confession_of_faith %}

<h3>{{ confession.name }}</h3>{% for paragraph in confession.paragraphs %}
<p>{% for sentence in paragraph %}
	{{ sentence }}{% endfor %}
</p>{% unless forloop.last %}{{ "" }}
{% endunless %}{% endfor %}{% endfor %}
					</div>

					<div class='section-title'>Relational Values</div>
					<div class='section-text-block'>
						<p>
							As disciples of Jesus Christ,
								we seek to
									live out
										the relational values
											of God's kingdom
										by&hellip;
						</p>

						<ol class="about-ordered-list">{% for value in site.data.about.relational_values %}
							<li>
								{{ value.value }}
								({% for verse in value.verses %}{{ verse }}{% unless forloop.last %},
									{% endunless %}{% endfor %})
							</li>{% endfor %}
						</ol>
					</div>
					<div class='section-title'>Community Mission</div>
					<div class='section-text-block'>
						<p>
							As disciples of Jesus Christ, we seek to glorify God by&hellip;
						</p>
						<ol class="about-ordered-list">{% for mission in site.data.about.community_mission %}
							<li>
								{{ mission.mission }}
								({% for verse in mission.verses %}{{ verse }}{% unless forloop.last %},
									{% endunless %}{% endfor %})
							</li>{% endfor %}
						</ol>
					</div>
				</div>
			</div>
		</div>
{%- comment -%}trailing newline{%- endcomment -%}
