---
layout: index
title: CONNECT
permalink: /connect/
---
		<div class="container-fluid" id="home">
			<div class="row">
				<div class="bg-connect">
					<div class="cover-text-bg">
						{%- comment -%}
						<!--<div class='cover-text'>Growth Groups</div>-->
						{%- endcomment -%}
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-3'></div>
				<div class='col-md-9 big-info-block'>
					<div class='section-title'>Growth Groups</div>
					<div class='section-text-block'>{% for paragraph in site.data.connect.growth_groups.paragraphs %}
						<p>{% for sentence in paragraph %}
							{{ sentence }}{% endfor %}
						</p>
{% endfor %}
					</div>{% comment %}

					<!--<div class='section-title'>Locations</div>
					<div class='section-text-block'>List of growth group locations here and times they meet</div>-->{% endcomment %}
				</div>
			</div>
		</div>
{%- comment -%}{%- endcomment -%}
