---
layout: index
title: CONNECT
permalink: /connect/
indentation:
  page: "		"
---

{%- capture growthgroups -%}
{{ page.indentation.page }}			<div class='section-title'>Growth Groups</div>
{{ page.indentation.page }}			<div class='section-text-block'>{% for paragraph in site.data.connect.growth_groups.paragraphs %}
{{ page.indentation.page }}				<p>{% for sentence in paragraph %}
{{ page.indentation.page }}					{{ sentence }}{% endfor %}
{{ page.indentation.page }}				</p>
{% endfor %}
{{ page.indentation.page }}			</div>
{%- endcapture -%}

{{ page.indentation.page }}<div class="container-fluid" id="home">
{{ page.indentation.page }}	<div class="row">
{{ page.indentation.page }}		<div class="bg-connect">
{{ page.indentation.page }}			<div class="cover-text-bg">
{{ page.indentation.page }}				{%- comment -%}
{{ page.indentation.page }}				<!--<div class='cover-text'>Growth Groups</div>-->
{{ page.indentation.page }}				{%- endcomment -%}
{{ page.indentation.page }}			</div>
{{ page.indentation.page }}		</div>
{{ page.indentation.page }}	</div>
{{ page.indentation.page }}	<div class='row'>
{{ page.indentation.page }}		<div class='col-md-3'></div>
{{ page.indentation.page }}		<div class='col-md-9 big-info-block'>
{{ growthgroups }}{% comment %}

{{ page.indentation.page }}				<!--<div class='section-title'>Locations</div>
{{ page.indentation.page }}			<div class='section-text-block'>List of growth group locations here and times they meet</div>-->{% endcomment %}
{{ page.indentation.page }}		</div>
{{ page.indentation.page }}	</div>
{{ page.indentation.page }}</div>
{%- comment -%}{%- endcomment -%}
