<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html">Hope Community Church</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	        	<a class='dropdown-toggle' id= 'visit-menu' href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VISIT</a>
	        	<div class="dropdown-menu" aria-labelledby="visit-menu">
		    		<a class="dropdown-item" href="#">Action</a>
		    		<a class="dropdown-item" href="#">Another action</a>
		   			<a class="dropdown-item" href="#">Something else here</a>
		  		</div>
	        </li>
	        <li><a href="about.html">ABOUT</a></li>
	        <li><a href="#connect">CONNECT</a></li>
	        <li><a href="#gospelproject">GOSPEL PROJECT</a></li>
	      </ul>
	    </div>
	</div>
</nav>
