		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
{% include navbar-header.html indentation="				" %}
				<div{% comment %}
					{% endcomment %}{% comment %}
{% endcomment %} class="collapse navbar-collapse"{% comment %}
{% endcomment %} id="myNavbar"{% comment %}
					{% endcomment %}{% comment %}
				{% endcomment %}>
					<ul class="nav navbar-nav navbar-right">
						{%- comment -%}
						{%- endcomment -%}
						{% comment %}
<!--	<li><a href="{{ "/visit" | relative_url}}">VISIT</a></li>-->
						{% endcomment %}
						<li>
							<a{% comment %}
								{% endcomment %}{% comment %}
{% endcomment %}{% comment %}
		{% endcomment %} href="{{ "/about" | relative_url}}"{% comment %}
	{% endcomment %}>{% comment %}
		{% endcomment %}ABOUT{% comment %}
{% endcomment %}{% comment %}
								{% endcomment %}{% comment %}
							{% endcomment %}</a>
						</li>
						<li>
							<a{% comment %}
								{% endcomment %}{% comment %}
{% endcomment %}{% comment %}
		{% endcomment %} href="{{ "/connect" | relative_url}}"{% comment %}
	{% endcomment %}>{% comment %}
		{% endcomment %}CONNECT{% comment %}
{% endcomment %}{% comment %}
								{% endcomment %}{% comment %}
							{% endcomment %}</a>
						</li>
						<li>
							<a{% comment %}
								{% endcomment %}{% comment %}
{% endcomment %}{% comment %}
		{% endcomment %} href="{{ "/gp" | relative_url}}"{% comment %}
	{% endcomment %}>{% comment %}
		{% endcomment %}GOSPEL PROJECT{% comment %}
{% endcomment %}{% comment %}
								{% endcomment %}{% comment %}
							{% endcomment %}</a>
						</li>
						<li>
							<a{% comment %}
								{% endcomment %}{% comment %}
{% endcomment %}{% comment %}
		{% endcomment %} href="https://goo.gl/gciC9i"{% comment %}
	{% endcomment %}>{% comment %}
		{% endcomment %}GIVE{% comment %}
{% endcomment %}{% comment %}
								{% endcomment %}{% comment %}
							{% endcomment %}</a>
						</li>
						{%- comment -%}
						{%- endcomment -%}
						{% comment %}
{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<!--		{%- if page_paths -%}
			{% for path in page_paths %}
{%- assign my_page = site.pages | where: "path", path | first -%}
				{% if my_page.title %}
<li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
				{%- endif -%}
			{%- endfor -%}
		{% endif %}
		<li><a href="#">ABOUT</a></li>
		<li><a href="#">CONNECT</a></li>
		<li><a href="#">GOSPEL PROJECT</a></li> -->
						{% endcomment %}
					</ul>
				</div>
			</div>
		</nav>
{%- comment -%}{%- endcomment -%}
