{{ include.indentation }}<div class="navbar-header">
{{ include.indentation }}	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
{{ include.indentation }}		<span class="icon-bar"></span>
{{ include.indentation }}		<span class="icon-bar"></span>
{{ include.indentation }}		<span class="icon-bar"></span>
{{ include.indentation }}	</button>
{{ include.indentation }}	<a class="navbar-brand" href="{{ "/" | relative_url}}">{{ site.data.index.church.name.full }}</a>
{{ include.indentation }}</div>
{%- comment -%}trailing newline{%- endcomment -%}
