---
---

{%- comment -%}
{%- endcomment -%}

/*.container-fluid{
      -webkit-filter: grayscale(50%);
      filter: grayscale(50%) brightness(100%);  make all photos black and white
      width: 100%; /* Set width to 100%
      margin: auto;
  }*/
@import "main";
