/*.container-fluid{
      -webkit-filter: grayscale(50%);
      filter: grayscale(50%) brightness(100%);  make all photos black and white
      width: 100%; /* Set width to 100%
      margin: auto;
  }*/

 .bg-1{
    width: 100%;
    height: 550px;
    /*background: url("http://eskipaper.com/images/free-ocean-pictures-1.jpg") no-repeat center center;*/
    background: url("http://www.uncoveringoklahoma.com/wp-content/uploads/2015/05/2015-09-17-Red-tail-Hawk-Mural-03.jpg") no-repeat center center;
    /*background: #2359af;*/
    background-size: cover;
  }

.bg-visit{
    width: 100%;
    height: 550px;
    /*background: url("http://eskipaper.com/images/free-ocean-pictures-1.jpg") no-repeat center center;*/
    /*background: url("/assets/Screen Shot 2017-11-25 at 1.02.58 PM.png") no-repeat center center;*/
    background: url("/assets/IMG958838.jpg") no-repeat center center;
    /*background: #2359af;*/
    background-size: cover;
}
.bg-connect{
    width: 100%;
    height: 550px;
    /*background: url("http://eskipaper.com/images/free-ocean-pictures-1.jpg") no-repeat center center;*/
    /*background: url("/assets/Screen Shot 2017-11-25 at 1.02.58 PM.png") no-repeat center center;*/
    background: url("/assets/20171017_185307.jpg") no-repeat center center;
    /*background: #2359af;*/
    background-size: cover;
}
.bg-gp{
    width: 100%;
    height: 550px;
    /*background: url("http://eskipaper.com/images/free-ocean-pictures-1.jpg") no-repeat center center;*/
    /*background: url("/assets/Screen Shot 2017-11-25 at 1.02.58 PM.png") no-repeat center center;*/
    background: url("/assets/IMG_0640.jpg") no-repeat center center;
    /*background: #2359af;*/
    background-size: cover;
}
.bg-about{
    width: 100%;
    height: 550px;
    /*background: url("http://eskipaper.com/images/free-ocean-pictures-1.jpg") no-repeat center center;*/
    /*background: url("/assets/Screen Shot 2017-11-25 at 1.02.58 PM.png") no-repeat center center;*/
    background: url("/assets/20171010_190350.jpg") no-repeat center center;
    /*background: #2359af;*/
    background-size: cover;
}
.big-info-block{
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
  background: rgb(142, 117, 119);
  background: white;
  min-height: 500px;
  color: #2d2d30;
}

.section-title{
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section-text-block{
  max-width: 600px;
  margin-top: 12px;
  padding-bottom: 30px;
  font-size: 17px;
  border-bottom: 1px solid #bcbcbc;
  font-weight: 300;
}
.side-menu{
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
  /*background: rgb(142, 117, 119);*/
  background: white;
  color: #2d2d30;
}
.menu-title{
  font-size: 25px;
  font-weight: normal;
  margin-top: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 22px;
  color: rgb(35, 89, 175);
}
.menu-list{
  margin-top: 12px;
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: 400;
}
.cover-text-bg{
  background-color: rgba(35, 89, 175, .8);
  height: 550px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.cover-text{
  color: #FFF;
  margin:0 auto;
  font-size: 65px;
  text-align: center;
  padding-top: 180px;
  opacity: 1;
}
.cover-text-secondary{
  font-size: 50px;
}
.cover-text-thirdiary{
  font-size: 30px;
}
.text-black{
  color:black;
}
.btn{
  width: 110px;
  height: 40px;
  font-size: 17px;
  background: white;
  text-align: center;
  font-weight: bold;
  color: rgb(35, 89, 175);
  border-radius: 0;
  letter-spacing: 1px;
  /*padding: 0;*/
  margin-top: 20px;
}
.btn-secondary:hover{
  color: #232323;
}
 .navbar {
	  font-family: Montserrat, sans-serif;
	  margin-bottom: 0;
	  background-color: #2d2d30;
	  border: 0;
	  font-size: 11px !important;
	  letter-spacing: 4px;
	  opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #f7f7f7 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }

.jumbotron{
	    padding: 227px 25px;
      font-family: 'Oswald', sans-serif;
      color: #77b7b7; /* teelish*/
      color: #800000; /* maroon*/
      /*color: #fff; /* maroon */
      color: #fff;
      background-color: #2359af;
      opacity: .9;
      text-align: center;
      font-weight: 700;
      font-style: normal;
      font-size: 68px;
      letter-spacing: 1px;
      /*text-shadow: 1px 1px 1px white;*/
}

@media screen and (max-width: 480px){
  .bg-2 img{
    width: 380px;
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
