/*.container-fluid{
      -webkit-filter: grayscale(50%);
      filter: grayscale(50%) brightness(100%);  make all photos black and white
      width: 100%; /* Set width to 100%
      margin: auto;
  }*/

 .bg-1{
    width: 100%;
    height: 550px;
/*     background: url("http://eskipaper.com/images/free-ocean-pictures-1.jpg") no-repeat center center; */
    background: #296cd8;
    background-size: cover;
  }

.bg-2{
	background:#f7f7FE;
	background: #fff;
    min-height: 300px;
    height: 550px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100%;
    text-align: center;
  }

  	.bg-2 img{
		margin-top: 100px;
	}

@media screen and (max-width: 480px){
	.bg-2 img{
		width: 380px;
		margin-top: 100px;
	}

}

 .navbar {
	  font-family: Montserrat, sans-serif;
	  margin-bottom: 0;
	  background-color: #2d2d30;
	  border: 0;
	  font-size: 11px !important;
	  letter-spacing: 4px;
	  opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #f7f7f7 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }

.jumbotron{
	  padding: 160px 25px;
      font-family: 'Oswald', sans-serif;
      color: #77b7b7; /* teelish*/
      color: #800000; /* maroon*/
      /*color: #fff; /* maroon */
      color: #FFF;
      background-color: transparent;
      text-align: center;
      font-weight: 700;
      font-style: normal;
      font-size: 68px;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px black;

}
