{% include head.html %}
<body>
{% include header.html %}
  <div class="container-fluid" id="home">
		<div class="row">
			<div class="bg-about">
				<div class="cover-text-bg">
					<div class='cover-text'>The about page</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-3 side-menu'>
				<div class='menu-title'>About Us</div>
				<div class='menu-list'>
					<ul>
						<li>Our Story</li>
						<li>Confession of Faith</li>
						<li>Relational Values</li>
						<li>Community Mission</li>
					</ul>
				</div>
			</div>
			<div class='col-md-9 big-info-block'>
				<div class='section-title'>Our Story</div>
				<div class='section-text-block'>
					<p>We are a community of believers committed to glorifying God as disciples of Christ. We are planting this church to preach the gospel where Christ isn’t already known throughout Norman in multi-housing communities, neigbhoroods, and on campus.</p>

					<p>We are a church plant of Christ Community Church, Oklahoma City. For the past 7 years they have been faithfully serving Jesus in Southwest Oklahoma City. Their model of settling in neighborhoods, starting evangelistic Bible studies, raising up disciples, and working to see God’s kingdom transform all aspects of community life is written into our DNA.  We are their first church plant and the start of a network of like-hearted and like-minded local churches.</p>

					<p>We long for the gospel to spread in Norman. Our desire is for our neighbors, friends, and family to know Christ and live as his disciples.</p>
				</div>

				<div class='section-title'>Confession of Faith</div>
				<div class='section-text-block'>
					<p>Confession goes here</p>
				</div>
				<div class='section-title'>Relational Values</div>
				<div class='section-text-block'>
					<p>Values go here</p>
				</div>
				<div class='section-title'>Community Mission</div>
				<div class='section-text-block'>
					<p>Mission goes here</p>
				</div>
			</div>
		</div>
	</div>
</body>
