<html>
	<head>
		<meta charset="utf-8">
{% include head-meta.html
	indentation="		"
	name="viewport"
	content="width=device-width, initial-scale=1"
%}
{% include head-stylesheet.html
	indentation="		"
	relfirst=true
	hreffirst=true
	href=site.data.head.urls.bootstrap.css
	extra_space=" "
%}
{% comment %}

{% endcomment %}{% capture main_css_uri %}
	{{- "/assets/css/main.css" | relative_url -}}
{% endcapture %}{% include head-stylesheet.html
	indentation="		"
	relfirst=true
	hreffirst=false
	media="screen,projection"
	href=main_css_uri
	omitclose=true
%}
{% include head-script.html
	indentation="		"
	src="javascripts/script.js"
%}
{% include head-script.html
	indentation="		"
	omittype=true
	src=site.data.head.urls.google.jquery
%}
{% include head-script.html
	indentation="		"
	src=site.data.head.urls.bootstrap.js
%}
{% include head-stylesheet.html
	indentation="		"
	relfirst=false
	hreffirst=false
	omittype=true
	href=site.data.head.urls.google.font_css
	omitclose=true
%}

{% seo %}
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
{% include navbar-header.html indentation="				" %}
{% include navbar-pagelinks.html indentation="				" %}
			</div>
		</nav>
		<div class="container-fluid" id="home">
{{ content }}
		</div>
	</body>
</html>
