{% include head.html %}
	<body>
{% include header.html %}
		<div class="container-fluid" id="home">
			<div class="row">
				<div class="bg-1"><div class="jumbotron"><div>SUNDAYS 10:30<br>AT THE UBA</div></div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="bg-2" id="visit"><p>Our services are at the Union Baptist Association. The address is 1637 Stubbeman. Dress is casual, and we'd love to have you!</p></div>
			</div>
		</div>
		<div class="container-fluid" id="about">
			<div class="row">
				<div class="bg-2"><p>We are a group of people who love Jesus and want our city to know him and the hope we have in him.</p></div>
			</div>
		</div>
</body>
