{% include head.html %}
	<body>
{% include header.html %}
		<div class="container-fluid" id="home">
			<div class="row">
				<div class="bg-1">
					<div class='cover-text-bg'>
						<p class='cover-text'></p>
						<p class='cover-text-secondary'>Join us Sundays at 10:30 A.M.</p>
						<p class='cover-text-thirdiary'>1637 Stubbeman Ave, Norman, OK</p>
						<a class="btn btn-secondary text-black" href="{{ "/visit" | relative_url}}">More Info</a>
					</div>
				</div>
			</div>
<!--			<div class='row'>
				<div class='col-md-3'></div>
				<div class='col-md-6 big-info-block'>
					<div class='section-title'>Services</div>
						<div class='section-text-block'>
							<div>Sundays 10:30 A.M.</div>
							<div>1637 Stubbeman Avenue</div>
							<div>Norman, OK 73069</div>
						</div>
					</div>
				</div>
				<div class='col-md-3'></div>

		</div>-->
		</div>

	</body>
